/* style.css */
html, body {
    height: 100%;
    margin: 0;
}

.cart-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .carts-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }