/* Custom styles for product details */
.product-detail {
    min-height: 100vh;
    padding: 20px;
}

.product-detail img {
    max-width: 80%;
    display: block;
    margin: 20px auto;
}

.product-description {
    max-width: 600px; 
    margin: 0 auto; 
    line-height: 1.5;
}

.product-description::first-letter {
    text-transform: capitalize;
}

.product-detail h1,
.product-detail h2,
.product-detail h3,
.product-detail p {
    margin: 20px 0;
    text-align: center;
}

img.product-image {
    max-width: 100% !important;
    max-height: 500px !important;
    display: block !important;
    margin: 0 auto !important;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.custom-btn, .goto-cart-btn {
    font-size: 20px !important;
    font-weight: 600 !important;
    padding: 16px 32px !important
}

.custom-btn {
    margin-right: 20px !important;
}
